<div>
  <div>
    <div class="container">
      <div class="container">
<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
<div class="container">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0" *ngIf="employees && employees.length">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
            <th>Salary</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>
              <a>
                {{ employee.name }}
              </a>
            </td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.country }}</td>
            <td>{{ employee.salary | currency: "INR":"symbol":"1.2-2" }}</td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm"
                [routerLink]="['/employees', employee.id]"
              >
                View
              </button>
            </td>
          </tr>
        </tbody>
  
      </table>
    </div>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
</div>
</div>
</div>